{% extends 'default/base.html.twig' %}

{% block body %}
    {% if app.user and is_granted('ROLE_ADMIN') %}
        <a href="{{ path('editDefaultPage', { 'page': app.request.get('page') }) }}">
            Sponsor toevoegen<img src="{{ asset('images/add.png') }}" width="18px" /></a>
    {% endif %}
    <h1>Sponsors</h1>
    <p>Wilt u of uw bedrijf ook op de sponsorpagina komen stuurt u dan een e-mail naar
    <a href="mailto:info@haagsebosancup.nl">info@haagsebosancup.nl</a></p>
    {% for sponsor in contentItems %}
    <br>
        <hr>
        <p>
            <h1>{{ sponsor.naam }}</h1>
            {% if sponsor.website is defined %}
                <a href="{{ sponsor.website }}">
            {% endif %}
            <img src="http://www.haagsebosancup.nl/uploads/sponsors/{{ sponsor.locatie }}" width="200px" /><br>
            {% if sponsor.website is defined %}
                </a>
            {% endif %}
            {% if sponsor.omschrijving is defined %}
                {{ sponsor.omschrijving }}
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
