{% extends 'default/base.html.twig' %}

{% block body %}
    <h1>Wedstrijdindeling</h1>
    {% for dag in dagen %}
        <h4 id="contact">» {{ dag.wedstrijddag }}</h4>
        <table class="wedstrijdindeling">
            <tr>
                <th class="first_row"></th>
                {% for baan in banen[dag.wedstrijddag] %}
                    <th>Baan {{ baan.baan }}</th>
                {% endfor %}
            </tr>
            {% for wedstrijdronde in wedstrijdrondes[dag.wedstrijddag] %}
                <tr>
                    <th>Wedstrijd {{ wedstrijdronde.wedstrijdronde }}</th>
                    {% for baan in banen[dag.wedstrijddag] %}
                        <td class="niv"><a href="{{ path('wedstrijdindelingPdf', { 'wedstrijddag': dag.wedstrijddag,
                                'wedstrijdronde': wedstrijdronde.wedstrijdronde, 'baan': baan.baan }) }}">
                            {% for catNiv in categorieNiveau[dag.wedstrijddag][wedstrijdronde.wedstrijdronde][baan
                            .baan] %}
                                » {{ catNiv.categorie }} {{ catNiv.niveau }} «<br />
                            {% endfor %}
							</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
	<h4 id="contact">» Juryindeling</h4>
	<p>
		De juryindeling kan <a href="#">hier</a> worden ingezien.
	</p>
{% endblock %}
