{% extends 'organisatie/base.html.twig' %}

{% block body %}
    <p>
		<div class="titel">
			<h2>Mijn gegevens</h2>
		</div>
		<div class="bericht">
		    <table>
		        <tr>
		            <td>Gebruikersnaam: </td><td><span id="username">{{ gegevens.username }}</span></td>
                </tr>
                <tr>
		            <td>Naam: </td><td><span id="Voornaam">{{ gegevens.voornaam }}</span> <span id="achternaam">{{ gegevens.achternaam }}</span></td>
                </tr>
                <tr>
		            <td>Emailadres: </td><td><span id="email">{{ gegevens.email }}</span></td>
                </tr>
                <tr>
		            <td>Verantwoordelijkheid: </td><td><span id="verantwoordelijkheid">{{ gegevens.verantwoordelijkheid }}</span></td>
                </tr>
                <tr>
		            <td>Wachtwoord: </td><td><a href=""> Wachtwoord wijzigen</a></td>
                </tr>
			</table>
		</div>
	</p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/editFieldByClicking.js') }}"></script>
    <script>
        $('#username').click(function() {
            var name = $(this).text();
            var fieldName = this.id;
            onClick(name, fieldName);
        });

        $(document).on('blur keypress','#txt_username', function(e){
            var name = $(this).val();
            var fieldName = this.id.replace('txt_', '');
            onChange(name, fieldName, e);
        });
    </script>

{% endblock %}