{% extends 'organisatie/base.html.twig' %}

{% block body %}
    <h1>Inschrijvingen</h1>

			<p>
				<div class="titel">
					<h2>Status (geplaatst/wachtlijst)</h2>
				</div>
				<div class="bericht">
					<table>
						{% for groep, waardes in groepen %}
							<tr>
								<td class="cat">{{ groep }}</td>
								{% set geplaatstCounter = 0 %}
								{% set wachtlijstCounter = 0 %}
									{% for waarde in waardes %}
										<td class="niv">
										<a href="{{ path('bekijkInschrijvingenPerNiveau', { 'page': app.request.get
										('page'), 'categorie': groep, 'niveau': waarde }) }}">
										{{ waarde }} ({{ aantallenPerNiveau
										.geplaatst[groep][waarde] }}/{{ aantallenPerNiveau
										.wachtlijst[groep][waarde] }})</a></td>
										{% set geplaatstCounter = geplaatstCounter + aantallenPerNiveau
										.geplaatst[groep][waarde] %}
										{% set wachtlijstCounter = wachtlijstCounter + aantallenPerNiveau
										.wachtlijst[groep][waarde] %}
									{% endfor %}
								<td> | {{ geplaatstCounter }}/{{ wachtlijstCounter }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</p>

			<p>
				<div class="titel">
					<h2>Contactpersonen</h2>
				</div>
				<div class="bericht">
					<table class="overzicht">
						<tr>
							<th>Naam</th>
							<th>Vereniging</th>
							<th>Turnsters geplaatst</th>
							<th>wachtlijst</th>
							<th>juryleden</th>
							<th></th>
						</tr>
						{% for contactpersoon in contactpersonen %}
						<tr>
							<td>{{ contactpersoon.naam }}</td>
							<td>{{ contactpersoon.vereniging }}</td>
							<td>{{ contactpersoon.turnstersGeplaatst }}</td>
							<td>{{ contactpersoon.turnstersWachtlijst }}</td>
							<td>{{ contactpersoon.aantalJuryleden }}</td>
							<td>
							 	<a href="{{ path('removeContactpersoon', { 'id': contactpersoon.id }) }}">
									<img src="{{ asset('images/remove.png') }}" width="15"/>
								</a>
							</td>
						</tr>
						{% endfor %}
					</table>
					<br />
					<a href="#">Volledig overzicht</a><br />
					dump
				</div>
			</p>


{% endblock %}