{% extends 'organisatie/base.html.twig' %}

{% block body %}
    <div class="jurybadges_button"><a href="{{ path('juryBadges') }}" target="_blank">Jurybadges downloaden</a></div><h1>Juryzaken</h1>
			<p>
				<div class="titel">
					<h2>Juryleden geleverd door verenigingen met geplaatste turnsters (<span
					id="juryleden_aantal">{{ juryleden|length }}</span>)</h2>
				</div>
				<div class="bericht">
					<table class="overzicht" style="font-size:8pt">
						<tr>
							<th>Naam</th>
							<th>Vereniging</th>
							<th>Brevet</th>
							<th>Dag</th>
							<th>Opmerking</th>
							<th>Email</th>
							<th></th>
						</tr>
						{% for jurylid in juryleden %}
                            <tr id="jurylid_row_{{ jurylid.id }}">
                                <td>{{ jurylid.naam }}</td>
                                <td>{{ jurylid.vereniging }}</td>
                                <td>{{ jurylid.brevet }}</td>
                                <td id="{{ jurylid.id }}" class="edit">{{ jurylid.dag }}</td>
                                <td>{{ jurylid.opmerking }}</td>
                                <td>{{ jurylid.email }}</td>
                                <td>
                                    <div onclick="remove_jurylid('{{ jurylid.id }}',
                                        '{{ jurylid.naam }}', '{{ jurylid.vereniging }}')"
                                         style="display: inline">
                                        <img src="{{ asset('images/remove.png') }}" width="20" style="cursor: pointer;">
		            				</div>
                                </td>
                            </tr>
                        {% endfor %}
					</table>
				</div>
			</p>

			<p>
				<div class="titel">
					<h2>Emailadressen (van juryleden geleverd door verenigingen met geplaatste turnsters)</h2>
				</div>
				<div class="bericht">
					<textarea cols="50" rows="15">{% for jurylid in juryleden %}{{ jurylid.email}};{% endfor %}</textarea>
				</div>
			</p>

			<p>
				<div class="titel">
					<h2>Juryleden geleverd door verenigingen zonder geplaatste turnsters (<span
					id="juryleden_aantal_niet">{{ juryledenNiet|length }}</span>)</h2>
				</div>
				<div class="bericht">
					<table class="overzicht" style="font-size:8pt">
						<tr>
							<th>Naam</th>
							<th>Vereniging</th>
							<th>Brevet</th>
							<th>Dag</th>
							<th>Opmerking</th>
							<th>Email</th>
							<th></th>
						</tr>
						{% for jurylid in juryledenNiet %}
                            <tr id="jurylid_row_{{ jurylid.id }}">
                                <td>{{ jurylid.naam }}</td>
                                <td>{{ jurylid.vereniging }}</td>
                                <td>{{ jurylid.brevet }}</td>
                                <td id="{{ jurylid.id }}" class="edit">{{ jurylid.dag }}</td>
                                <td>{{ jurylid.opmerking }}</td>
                                <td>{{ jurylid.email }}</td>
                                <td>
                                    <div onclick="remove_jurylid_niet('{{ jurylid.id }}',
                                        '{{ jurylid.naam }}', '{{ jurylid.vereniging }}')"
                                         style="display: inline">
                                        <img src="{{ asset('images/remove.png') }}" width="20" style="cursor: pointer;">
		            				</div>
                                </td>
                            </tr>
                        {% endfor %}
					</table>
				</div>
			</p>

			<p>
				<div class="titel">
					<h2>Emailadressen (van juryleden geleverd door verenigingen zonder geplaatste turnsters)</h2>
				</div>
				<div class="bericht">
					<textarea cols="50" rows="15">{% for jurylid in juryledenNiet %}{{ jurylid.email}};{% endfor %}</textarea>
				</div>
			</p>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/wachtlijst_remove_etc.js') }}"></script>
    <script src="{{ asset('js/EditFieldByClicking.js') }}"></script>
    <script>
        $('.edit').click(function () {
            var data = $(this).text();
            var fieldName = this.id;
                onClickJurydag(data, fieldName, 'number');
        });
        $(document).on('blur keypress', '.txt_edit', function (e) {
            if (e.type === 'keypress' && e.keyCode !== 13) return;
            var data = $(this).val();
            var fieldName = this.id.replace('txt_', '');
            //onChange(data, fieldName, 'editJurydag');
        });
    </script>
{% endblock %}